{% extends "br_colpon/base.html" %}
{% block title %}{{ store.name }}{% endblock %}
{% block css %}merchant{% endblock %}
{% block content %}
  <div class="breadcrumb-wrap container">
    <div class="breadcrumb-row">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'stores' %}">Lojas</a></li>
          <li class="active">{{ store.name }}</li>
        </ol>
      </div> <!-- /.breadcrumb-row -->
  </div> <!-- /.breadcrumb-wrap -->
  <div class="container">
    <div class="row">
      <div class="content-main container col-md-19 col-md-push-5">
        <div class="merchant-title">
          <h1>Cupom de Desconto <strong>{{ store.name }}</strong></h1>
        </div>
        <div class="merchant-offer">
          {% for offer in offers %}
          <div class="stack-item row" data-link="{{ offer.link }}" data-title="{{ offer.name }}" data-code="{{ offer.code }}" data-type="{{ offer.type }}" data-img="{{ store.logo.url }}" data-name="{{ store.name }}" data-id="{{ offer.id }}" data-rule="{{ offer.desc }}">
            <div class="offer-con clearfix row">
              <div class="offer-info col-md-5 col-xs-11 ">
                {% if offer.type == 'C' %}
                <p class="show-discount">
                  <a class="offer-popup" href="#{{ offer.id }}" target="_blank">
                    <strong class="glyphicon glyphicon-tags"></strong>
                      <span>Códigos</span>
                  </a>
                </p>
                {% else %}
                <p class="show-normal">
                  <a class="offer-popup" href="#{{ offer.id }}" target="_blank">
                    <strong class="glyphicon glyphicon-tags"></strong>
                      <span>Oferta</span>
                  </a>
                </p>
                {% endif %}
                <p class="offer-status offer-status-"></p>
              </div>
              <div class="offer-btn col-md-7 col-md-push-12 col-xs-13">
                  {% if offer.type == 'C' %}
                  <a class="offer-popup move-btn" href="#{{ offer.id }}" target="_blank">
                    <span class="move-btn-bottom">{{ offer.code }}</span>
                    <span class="move-btn-cover">Pegar cupom <i class="move-corner"></i></span>
                  </a>
                  <button class="move-btn-bottom open-code hidden" type="button">{{ offer.code }}</button>
                  {% else %}
                  <a class="offer-popup offer-nocode btn btn-info" href="#{{ offer.id }}" target="_blank">Compre agora</a>
                  {% endif %}
              </div>
              <div class="offer-title col-md-12 col-md-pull-7 col-xs-24">
                <h3>
                  <a class="offer-popup" href="#{{ offer.id }}" target="_blank">{{ offer.name }}</a>
                </h3>
                <div class="discountRule showMore">
                    <p>{{ offer.desc}}</p>
                  <span><i></i></span>
                </div>
              </div>
            </div> <!-- /.offer-con -->
            <div class="clearfix row">
              <div class="col-sm-5 col-xs-12">
              </div>
              <div class="col-sm-7 col-sm-push-12 col-xs-12">
                <a class="view-detail offer-popup" href="{% url 'offer' offer.id %}" target="_blank">Ver mais detalhes</a>
              </div>
              <div class="offer-favorite col-sm-12 col-sm-pull-7 col-xs-24">
              </div>  <!-- /.offer-favorite-->
            </div> <!-- /.row -->
          </div><!-- /.stack-item -->
          {% endfor %}
        </div><!-- /.merchant-offer -->
        <div class="recommend">
          <h2>Melhores ofertas e cupons das categorias mais populares:</h2>
          {% for hotoffer in hotoffers %}
          <div class="stack-item row" data-link="{{ hotoffer.link }}" data-title="{{ hotoffer.name }}" data-code="{{ hotoffer.code }}" data-type="$new_offer->type" data-img="{{ hotoffer.store.logo.url }}" data-name="{{ hotoffer.store.name }}" data-id="{{ hotoffer.id }}" data-rule="{{ hotoffer.desc }}">
            <div class="offer-con clearfix row">
              <div class="offer-info col-md-5  col-xs-11">
                <a class="offer-popup" href="{% url 'store' hotoffer.store.slug %}" title="Cupom de Desconto {{ hotoffer.store.name }}" target="_blank">
                  <img src="{{ hotoffer.store.logo.url }}" alt="Cupom de Desconto {{ hotoffer.store.name }}">
                </a>
              </div><!-- /.offer-info -->
              <div class="offer-btn col-md-7 col-md-push-12 col-xs-13">
                {% if hotoffer.type == 'C' %}
                <a class="offer-popup move-btn" href="#{{ hotoffer.id }}" target="_blank">
                    <span class="move-btn-bottom">{{ hotoffer.code }}</span>
                    <span class="move-btn-cover">Pegar cupom <i class="move-corner"></i></span>
                  </a>
                {% else %}
                <a class="offer-popup offer-nocode btn btn-info" href="{% url 'store' hotoffer.store.slug %}" target="_blank">Compre agora</a>
                {% endif %}
              </div>
              <div class="offer-title col-md-12 col-md-pull-7 col-xs-24">
                <h3>
                    <a class="offer-popup" href="{% url 'store' hotoffer.store.slug %}" target="_blank">{{ hotoffer.name }}</a>
                </h3>
                <div class="discountRule showMore">
                  <p>{{ hotoffer.desc }}</p>
                  <span><i></i></span>
                </div>
              </div>
            </div><!-- /.offer-con -->
            <div class="clearfix row">
              <div class="col-sm-5 col-xs-12">
              </div>
              <div class="col-sm-7 col-sm-push-12 col-xs-12">
                <a class="view-detail offer-popup" href="{% url 'offer' hotoffer.id %}" target="_blank">Ver mais detalhes</a>
              </div>
              <div class="offer-favorite col-sm-12 col-sm-pull-7 col-xs-24">
              </div>  <!-- /.offer-favorite-->
            </div> <!-- /.row -->
          </div><!-- /.stack-item -->
          {% endfor %}
        </div><!-- /.recommend -->
      </div><!-- /.content-main -->

      <div class="content-side col-md-5 col-md-pull-19">
        <div class="merchant-pic" monkey="top_go_merchant">
          <span>
            <img src="{{ store.logo.url }}" alt="Cupom de Desconto {{ store.name }}">
            <a href="{{ store.link }}" target="_blank" rel="nofollow">Ir para {{ store.name }} <i class="glyphicon glyphicon-export"></i></a>
          </span>
        </div>
        <div class="merchant-des" monkey="merchant_intro">
          <h3 class="title">Sobre {{ store.name }}</h3>
          <div class="merchant-intro">
              <div class="summary">{{ store.desc }}</div>
          </div>
        </div><!-- /.merchant-intro -->
        <dl monkey="hot_merchant">
          <dt class="title">As lojas mais populares:</dt>
            {% for hotstore in hotstores %}
            <dd><a href="{% url 'store' hotstore.slug %}">{{ hotstore.name }}</a></dd>
            {% endfor %}
        </dl>
      </div><!-- /.content-side -->
    </div><!-- /.row -->
  </div><!-- /.container -->
{% endblock %}
