<!--offerPopup-->
  <div class="modal" id="offerPopup" tabindex="-1" role="dialog" aria-labelledby="offerPopupLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <div class="code">
            <p class="code-row">
              <strong id="clipboard_text" class="code-text"></strong>
              <button class="code-btn btn btn-info btn-lg" data-clipboard-target="clipboard_text" type="button" role="button">Copiar</button>
            </p>
            <p class="copy-tip">Copie este código e cole no carrinho de compras do site <a class="merchant-link" href="#" target="_blank" rel="nofollow">na Colpon</a></p>
          </div><!-- /.code -->
          <div class="nocode">
            <p>Desconto ativado! Entre aqui para obter o desconto <a class="merchant-link" href="#" target="_blank" rel="nofllow">na Colpon</a></p>
          </div> <!-- /.nocode -->
          <div class="mer_logo">
            <p class="pic-title">
              <a class="merchant-link" href="#" target="_blank" rel="nofollow">
                <img src="" alt="">
              </a>
              <span></span>
              <strong class="offer-title lead">
                <a class="merchant-link con" href="#" target="_blank" rel="nofollow"></a>
              </strong>
            </p>
            <p class="rule">
              <em>Detalhes e exclusões: &nbsp;&nbsp;</em>
              <strong><span></span></strong>
            </p>
            <div class="offer-favorite" data-id="">
              <p class="info">
                <strong class="like-percent">100% Sucesso</strong> 
                <strong class="verify">Verificado </strong>
                <strong class="expire"></strong>
              </p>
              <div class="vote-popup">
                <p class="lead">Obrigado pelo feedback!</p>
                <p>Cada voto ajuda a outros consumidores.</p>
                <button type="button" class="close"><span aria-hidden="true">×</span></button>
              </div>
            </div>
          </div>
        </div><!-- /.modal-header -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /#offerPopup -->
